*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background: #66CCEC;
}
main{
    
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.wheel{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #fff;
    margin-top: 20px;
    border: 10px solid whitesmoke;
    position: relative;
    overflow: hidden;
    transition: 5s;
    animation: anim 3s ease-in-out infinite;
}
@keyframes anim{
    100%{
        transform: rotate(360deg);
    }
}
.wheel div{
    height: 50%;
    width: 160px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;
    font-family: sans-serif;
    color: #fff;
    left: 110px;
    box-shadow: inset 0 0 2px rgba(0,0,0, 0.5),
                    0 0 5px rgba(0,0,0, 0.2);
}
.container .one{
    background-color: #87AD23;
    left: 50%;
}
.container .two{
    background-color: #B8A537;
    transform: rotate(45deg);
}
.container .three{
    background-color: #405DA9;
    transform: rotate(90deg);
}
.container .four{
    background-color: #40A94F;
    transform: rotate(135deg);
}
.container .five{
    background-color: #37B8B5;
    transform: rotate(180deg);
}
.container .six{
    background-color: #BC1F55;
    transform: rotate(225deg);
}
.container .seven{
    background-color: #8433A1;
    transform: rotate(270deg);
}
.container .eight{
    background-color: #3340B7;
    transform: rotate(315deg);
}
.arrow{
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.arrow:before{
    content: "\1F817";
    font-size: 50px;
}
.spin-btn{
    z-index: 1;
    position: absolute;
    top: 44%;
    left: 41%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:none;
    text-transform: uppercase;
    background-color: #FFB44E;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: inset 0 0 1px rgba(0,0,0, 0.4),
                    0 0 3px rgba(0,0,0, 0.1);
}
/*.spin-anim{
    animation: spinanim .4s ease infinite;
    opacity: 0;
}
@keyframes spinanim{
    50%{
        transform: opacity: 1;
    }
}*/

/****popup***/

.popup-rejult{
/*   position: absolute;
   width: 200px;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
 left: 20%;
   top: 30%;*/
}
.popup-rejult .popup{
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    left: 27%;
    z-index: 10;
    transition: all 4s;
}
.pp{
    display: none;
}
.popup-rejult .popup  h1{
    width: 100%;
    text-align: center;
}
.popup-rejult .popup h2{
    width: 100%;
    font-size: 2em;
    text-align: center;
}
.popup-rejult .popup  button{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FFAC2C;
    font-size: 1em;
    font-weight: 500;
    box-shadow: inset 0 0 2px rgba(0,0,0, 0.4),
                0 1px 5px rgba(0,0,0, 0.1);
}

/*****table ******/


.table-number{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
table{
    border: 5px solid transparent;
}
table td{
    padding: 0px;
    min-width: 95px;
    max-width: 95px;
    width: 95px;
    height: 50px;
    border: 2px solid #000;
    text-align: center;
    background: #2C3EFF;
    font-size: 1.5em;
    color: #fff;
}

/********close*****/